* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins;
}

nav {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

main {
  text-align: center;
  margin: 120px auto;
}

button {
  width: 50px;
}
